<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614209418150-fr2ja16sd1fmg5j2lav9icnnth8s61pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614209418150-fr2ja16sd1fmg5j2lav9icnnth8s61pu</string>
	<key>API_KEY</key>
	<string>AIzaSyDC7cD7Q5QP2L38OqWF6_6E5N8Vd-sk1Hw</string>
	<key>GCM_SENDER_ID</key>
	<string>614209418150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandondowless.TwitterTutorial2021</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial2021</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614209418150:ios:30ce4a9d7452b6f18f5567</string>
	<key>DATABASE_URL</key>
	<string>https://twittertutorial2021-default-rtdb.firebaseio.com</string>
</dict>
</plist>